<template>
  <div id="graph">
    <qe-navbar id="legend">
      <b-button class="button" variant="light">
        <router-link to="/" tag="span">К таблице предметов</router-link>
      </b-button>
      <div v-for="group of groups" class="legend-item">
        <div class="legend-item-dot"
             :style="{
      'background-color': groupNetworOptionsMap[group].color.background,
       'border-color': groupNetworOptionsMap[group].color.border || 'transparent'
    }"
        ></div>
        <span class="legend-item-label"> {{ groupUiMap[group].title }} </span>
      </div>
    </qe-navbar>
    <div id="network"></div>
  </div>
</template>

<script>
import QeNavbar from "./navbar.vue";
import vis from "vis-network/dist/vis-network";

export default {
  name: "qe-graph",
  components: {QeNavbar},
  computed: {
    groups() {
      return Object.keys(this.groupNetworOptionsMap);
    }
  },

  data() {
    return {
      groupNetworOptionsMap: {
        "0": {color: {background: "#A0C0F7", border: "#6292e9"},},
        "1": {color: {background: "#d900b2"},},
        "2": {color: {background: "#feff54", border: "#f5bd41"},},
        "3": {color: {background: "#eb8584", border: "#e53f35"},},
        "4": {color: {background: "#00cd00"},},
      },
      groupUiMap: {
        "0": {
          title: "Гуманитарный блок и Soft Skills",
        },
        "1": {
          title: "Математический блок",
        },
        "2": {
          title: "Общефизический блок",
        },
        "3": {
          title: "IT блок",
        },
        "4": {
          title: "Квантовый блок"
        }
      }
    }
  },

  mounted() {
    this.initVisNetwork();
  },

  methods: {
    initVisNetwork() {
      const container = this.$el.querySelector('#network');
      let nodes;
      let edges;

      // parsing and collecting nodes and edges from the python
      // change nodes below
      nodes = new vis.DataSet([{"color": "#d900b2", "group": 1, "id": 1, "label": "\u041b\u0438\u043d\u0435\u0439\u043d\u0430\u044f \u0430\u043b\u0433\u0435\u0431\u0440\u0430", "shape": "dot"}, {"color": "#d900b2", "group": 1, "id": 2, "label": "\u041c\u0430\u0442\u0435\u043c\u0430\u0442\u0438\u0447\u0435\u0441\u043a\u0438\u0439 \u0430\u043d\u0430\u043b\u0438\u0437", "shape": "dot"}, {"color": "#d900b2", "group": 1, "id": 3, "label": "\u0421\u043e\u0432\u0440\u0435\u043c\u0435\u043d\u043d\u0430\u044f \u0430\u043b\u0433\u0435\u0431\u0440\u0430", "shape": "dot"}, {"color": "#d900b2", "group": 1, "id": 4, "label": "\u0412\u0435\u043a\u0442\u043e\u0440\u043d\u044b\u0439 \u0430\u043d\u0430\u043b\u0438\u0437", "shape": "dot"}, {"color": "#d900b2", "group": 1, "id": 5, "label": "\u0422\u0424\u041a\u041f", "shape": "dot"}, {"color": "#d900b2", "group": 1, "id": 6, "label": "\u0414\u0438\u0444\u0444\u0435\u0440\u0435\u043d\u0446\u0438\u0430\u043b\u044c\u043d\u044b\u0435 \n\u0443\u0440\u0430\u0432\u043d\u0435\u043d\u0438\u044f", "shape": "dot"}, {"color": "#d900b2", "group": 1, "id": 7, "label": "\u0422\u0435\u043e\u0440\u0438\u044f \u0432\u0435\u0440\u043e\u044f\u0442\u043d\u043e\u0441\u0442\u0435\u0439", "shape": "dot"}, {"group": 2, "id": 8, "label": "\u0422\u0435\u043e\u0440\u0435\u0442\u0438\u0447\u0435\u0441\u043a\u0430\u044f \u043c\u0435\u0445\u0430\u043d\u0438\u043a\u0430: \u0438\u043d\u0442\u0435\u0433\u0440\u0438\u0440\u0443\u0435\u043c\u044b\u0435 \u0441\u0438\u0441\u0442\u0435\u043c\u044b", "shape": "dot"}, {"color": "#d900b2", "group": 1, "id": 9, "label": "\u0422\u0435\u043d\u0437\u043e\u0440\u043d\u044b\u0439 \u0430\u043d\u0430\u043b\u0438\u0437", "shape": "dot"}, {"group": 2, "id": 10, "label": "\u0421\u0442\u0430\u0442\u0438\u0441\u0442\u0438\u0447\u0435\u0441\u043a\u0430\u044f \u0444\u0438\u0437\u0438\u043a\u0430", "shape": "dot"}, {"group": 2, "id": 11, "label": "\u0412\u0432\u0435\u0434\u0435\u043d\u0438\u0435 \u0432 \u0441\u043e\u0432\u0440\u0435\u043c\u0435\u043d\u043d\u0443\u044e \u0442\u0435\u043e\u0440\u0438\u044e\n\u043a\u043e\u043d\u0434\u0435\u043d\u0441\u0438\u0440\u043e\u0432\u0430\u043d\u043d\u043e\u0433\u043e \u0441\u043e\u0441\u0442\u043e\u044f\u043d\u0438\u044f", "shape": "dot"}, {"group": 2, "id": 12, "label": "\u041a\u0432\u0430\u043d\u0442\u043e\u0432\u0430\u044f \u043c\u0435\u0445\u0430\u043d\u0438\u043a\u0430", "shape": "dot"}, {"group": 2, "id": 13, "label": "\u041e\u0431\u0449\u0430\u044f \u0444\u0438\u0437\u0438\u043a\u0430: \u042d\u043b\u0435\u043a\u0442\u0440\u043e\u043c\u0430\u0433\u043d\u0435\u0442\u0438\u0437\u043c", "shape": "dot"}, {"group": 2, "id": 14, "label": "\u041e\u0431\u0449\u0430\u044f \u0444\u0438\u0437\u0438\u043a\u0430: \u041c\u0435\u0445\u0430\u043d\u0438\u043a\u0430", "shape": "dot"}, {"group": 2, "id": 15, "label": "\u041e\u0431\u0449\u0430\u044f \u0444\u0438\u0437\u0438\u043a\u0430: \u041e\u043f\u0442\u0438\u043a\u0430", "shape": "dot"}, {"group": 3, "id": 16, "label": "\u0410\u043b\u0433\u043e\u0440\u0438\u0442\u043c\u044b \u0438 \u0442\u0435\u043e\u0440\u0438\u044f \u0441\u043b\u043e\u0436\u043d\u043e\u0441\u0442\u0438", "shape": "dot"}, {"color": "#d900b2", "group": 1, "id": 17, "label": "\u041c\u0430\u0442\u0435\u043c\u0430\u0442\u0438\u0447\u0435\u0441\u043a\u0438\u0435 \u043c\u0435\u0442\u043e\u0434\u044b \u0432 \u0444\u0438\u0437\u0438\u043a\u0435", "shape": "dot"}, {"group": 3, "id": 18, "label": "\u041a\u0432\u0430\u043d\u0442\u043e\u0432\u044b\u0435 \u0432\u044b\u0447\u0438\u0441\u043b\u0438\u0442\u0435\u043b\u044c\u043d\u044b\u0435 \u0430\u043b\u0433\u043e\u0440\u0438\u0442\u043c\u044b", "shape": "dot"}, {"group": 2, "id": 19, "label": "\u0412\u0432\u0435\u0434\u0435\u043d\u0438\u0435 \u0432 \u043a\u0432\u0430\u043d\u0442\u043e\u0432\u044b\u0435 \u0442\u0435\u0445\u043d\u043e\u043b\u043e\u0433\u0438\u0438", "shape": "dot"}, {"group": 3, "id": 20, "label": "\u041f\u0440\u043e\u0433\u0440\u0430\u043c\u043c\u0438\u0440\u043e\u0432\u0430\u043d\u0438\u0435: Python", "shape": "dot"}, {"group": 3, "id": 21, "label": "\u041e\u043f\u0442\u0438\u0447\u0435\u0441\u043a\u0438\u0435 \u043c\u0435\u0442\u043e\u0434\u044b \u043e\u0431\u0440\u0430\u0431\u043e\u0442\u043a\u0438 \u0438\u043d\u0444\u043e\u0440\u043c\u0430\u0446\u0438\u0438 \n\u0438 \u043e\u0441\u043d\u043e\u0432\u044b \u043a\u0432\u0430\u043d\u0442\u043e\u0432\u044b\u0445 \u043a\u043e\u043c\u043c\u0443\u043d\u0438\u043a\u0430\u0446\u0438\u0439", "shape": "dot"}, {"group": 2, "id": 22, "label": "\u0423\u0440\u0430\u0432\u043d\u0435\u043d\u0438\u044f \u043c\u0430\u0442\u0435\u043c\u0430\u0442\u0438\u0447\u0435\u0441\u043a\u043e\u0439 \u0444\u0438\u0437\u0438\u043a\u0438", "shape": "dot"}, {"group": 3, "id": 23, "label": "\u041c\u0430\u0442\u0435\u043c\u0430\u0442\u0438\u0447\u0435\u0441\u043a\u0430\u044f \u0441\u0442\u0430\u0442\u0438\u0441\u0442\u0438\u043a\u0430\n\u0438 \u043c\u0430\u0448\u0438\u043d\u043d\u043e\u0435 \u043e\u0431\u0443\u0447\u0435\u043d\u0438\u0435", "shape": "dot"}, {"group": 3, "id": 24, "label": "\u041f\u0440\u0430\u043a\u0442\u0438\u043a\u0443\u043c \u043f\u043e \u043f\u0440\u043e\u0433\u0440\u0430\u043c\u043c\u0438\u0440\u043e\u0432\u0430\u043d\u0438\u044e\n\u043a\u0432\u0430\u043d\u0442\u043e\u0432\u044b\u0445 \u043a\u043e\u043c\u043f\u044c\u044e\u0442\u0435\u0440\u043e\u0432", "shape": "dot"}, {"id": 25, "label": "\u0410\u043d\u0433\u043b\u0438\u0439\u0441\u043a\u0438\u0439 \u044f\u0437\u044b\u043a", "shape": "dot"}, {"group": 2, "id": 40, "label": "\u041e\u0431\u0449\u0430\u044f \u0444\u0438\u0437\u0438\u043a\u0430: \u0422\u0435\u0440\u043c\u043e\u0434\u0438\u043d\u0430\u043c\u0438\u043a\u0430", "shape": "dot"}, {"color": "#00cd00", "group": 4, "id": 26, "label": "\u041d\u0430\u0443\u0447\u043d\u043e-\u0438\u0441\u0441\u043b\u0435\u0434\u043e\u0432\u0430\u0442\u0435\u043b\u044c\u0441\u043a\u0430\u044f \u0440\u0430\u0431\u043e\u0442\u0430", "shape": "dot"}, {"color": "#00cd00", "group": 4, "id": 28, "label": "\u041b\u0430\u0431\u043e\u0440\u0430\u0442\u043e\u0440\u043d\u044b\u0439 \u043f\u0440\u0430\u043a\u0442\u0438\u043a\u0443\u043c \u043f\u043e \u043a\u0432\u0430\u043d\u0442\u043e\u0432\u043e\u0439 \u0441\u0435\u043d\u0441\u043e\u0440\u0438\u043a\u0435 \n\u0438 \u043a\u0432\u0430\u043d\u0442\u043e\u0432\u044b\u043c \u0432\u044b\u0447\u0438\u0441\u043b\u0438\u0442\u0435\u043b\u044c\u043d\u044b\u043c \u0441\u0438\u0441\u0442\u0435\u043c\u0430\u043c", "shape": "dot"}, {"color": "#00cd00", "group": 4, "id": 29, "label": "\u0424\u0438\u0437\u0438\u0447\u0435\u0441\u043a\u0438\u0435 \u043e\u0441\u043d\u043e\u0432\u044b\n\u043a\u0432\u0430\u043d\u0442\u043e\u0432\u044b\u0445 \u0432\u044b\u0447\u0438\u0441\u043b\u0435\u043d\u0438\u0439", "shape": "dot"}, {"color": "#d900b2", "group": 1, "id": 30, "label": "\u0422\u043e\u043f\u043e\u043b\u043e\u0433\u0438\u044f / \u041a\u0432\u0430\u043d\u0442\u043e\u0432\u0430\u044f \u043a\u0440\u0438\u043f\u0442\u043e\u0433\u0440\u0430\u0444\u0438\u044f", "shape": "dot"}, {"color": "#00cd00", "group": 4, "id": 31, "label": "\u0418\u0441\u0441\u043b\u0435\u0434\u043e\u0432\u0430\u0442\u0435\u043b\u044c\u0441\u043a\u0430\u044f \u043f\u0440\u043e\u0435\u043a\u0442\u043d\u0430\u044f \u0440\u0430\u0431\u043e\u0442\u0430", "shape": "dot"}, {"group": 2, "id": 32, "label": "\u0422\u0435\u043e\u0440\u0438\u044f \u043f\u043e\u043b\u044f", "shape": "dot"}, {"color": "#00cd00", "group": 4, "id": 33, "label": "\u041b\u0430\u0431\u043e\u0440\u0430\u0442\u043e\u0440\u043d\u044b\u0439 \u043f\u0440\u0430\u043a\u0442\u0438\u043a\u0443\u043c\n\u043f\u043e \u043a\u0432\u0430\u043d\u0442\u043e\u0432\u044b\u043c \u0442\u0435\u0445\u043d\u043e\u043b\u043e\u0433\u0438\u044f\u043c", "shape": "dot"}, {"group": 2, "id": 34, "label": "\u0422\u0435\u043e\u0440\u0435\u0442\u0438\u0447\u0435\u0441\u043a\u0430\u044f \u043c\u0435\u0445\u0430\u043d\u0438\u043a\u0430:\n\u0425\u0430\u043e\u0442\u0438\u0447\u0435\u0441\u043a\u0438\u0435 \u0441\u0438\u0441\u0442\u0435\u043c\u044b", "shape": "dot"}, {"color": "#00cd00", "group": 4, "id": 35, "label": "\u041c\u0435\u0442\u043e\u0434\u044b \u043a\u0432\u0430\u043d\u0442\u043e\u0432\u043e\u0439 \u043c\u043d\u043e\u0433\u043e\u0447\u0430\u0441\u0442\u0438\u0447\u043d\u043e\u0439 \u0444\u0438\u0437\u0438\u043a\u0438/\n             \u042d\u043a\u0441\u043f\u0435\u0440\u0438\u043c\u0435\u043d\u0442\u0430\u043b\u044c\u043d\u043e\u0435 \u043c\u043e\u0434\u0435\u043b\u0438\u0440\u043e\u0432\u0430\u043d\u0438\u0435 \u043a\u0432\u0430\u043d\u0442\u043e\u0432\u044b\u0445 \u0441\u0438\u0441\u0442\u0435\u043c ", "shape": "dot"}, {"group": 2, "id": 37, "label": "\u0421\u0432\u0435\u0440\u0445\u043f\u0440\u043e\u0432\u043e\u0434\u0438\u043c\u043e\u0441\u0442\u044c \u0438 \u043a\u0432\u0430\u043d\u0442\u043e\u0432\u044b\u0439 \u043c\u0430\u0433\u043d\u0435\u0442\u0438\u0437\u043c/\n\u0412\u0437\u0430\u0438\u043c\u043e\u0434\u0435\u0439\u0441\u0442\u0432\u0438\u0435 \u0438\u0437\u043b\u0443\u0447\u0435\u043d\u0438\u044f \u0441 \u0432\u0435\u0449\u0435\u0441\u0442\u0432\u043e\u043c", "shape": "dot"}, {"group": 3, "id": 38, "label": "\u041f\u0440\u043e\u0433\u0440\u0430\u043c\u043c\u0438\u0440\u043e\u0432\u0430\u043d\u0438\u0435: \u0421++ /\n\u041f\u0440\u043e\u0433\u0440\u0430\u043c\u043c\u0438\u0440\u043e\u0432\u0430\u043d\u0438\u0435: MATLAB", "shape": "dot"}, {"group": 3, "id": 39, "label": "\u0427\u0438\u0441\u043b\u0435\u043d\u043d\u044b\u0435 \u043c\u0435\u0442\u043e\u0434\u044b", "shape": "dot"}, {"color": "#d900b2", "group": 1, "id": 42, "label": "\u0418\u043d\u0442\u0435\u0433\u0440\u0430\u043b\u044c\u043d\u044b\u0435 \u0443\u0440\u0430\u0432\u043d\u0435\u043d\u0438\u044f ", "shape": "dot"}, {"color": "#00cd00", "group": 4, "id": 43, "label": "\u041d\u0430\u0443\u0447\u043d\u044b\u0439 \u0441\u0435\u043c\u0438\u043d\u0430\u0440:\n\u0430\u043a\u0443\u0442\u0430\u043b\u044c\u043d\u044b\u0435 \u043f\u0440\u043e\u0431\u043b\u0435\u043c\u044b\n\u0441\u043e\u0432\u0440\u0435\u043c\u0435\u043d\u043d\u043e\u0439 \u0444\u0438\u0437\u0438\u043a\u0438", "shape": "dot"}, {"color": "#00cd00", "group": 4, "id": 67, "label": "\u0414\u043e\u043f\u043e\u043b\u043d\u0438\u0442\u0435\u043b\u044c\u043d\u044b\u0435 \u0433\u043b\u0430\u0432\u044b \u043b\u0430\u0437\u0435\u0440\u043d\u043e\u0439 \u0444\u0438\u0437\u0438\u043a\u0438", "shape": "dot"}, {"group": 2, "id": 68, "label": "\u041d\u0430\u0443\u0447\u043d\u044b\u0439 \u0441\u0435\u043c\u0438\u043d\u0430\u0440:\n\u043a\u0432\u0430\u043d\u0442\u043e\u0432\u044b\u0435 \u0442\u0435\u0445\u043d\u043e\u043b\u043e\u0433\u0438\u0438", "shape": "dot"}, {"color": "#00cd00", "group": 4, "id": 69, "label": "\u041b\u0430\u0437\u0435\u0440\u043d\u0430\u044f \u0444\u0438\u0437\u0438\u043a\u0430 \u0438 \u0444\u0438\u0437\u0438\u0447\u0435\u0441\u043a\u0430\u044f \u043e\u043f\u0442\u0438\u043a\u0430 ", "shape": "dot"}, {"color": "#00cd00", "group": 4, "id": 70, "label": "\u0424\u043e\u0442\u043e\u043d\u0438\u043a\u0430 ", "shape": "dot"}, {"color": "#00cd00", "group": 4, "id": 71, "label": "\u041f\u0440\u0430\u043a\u0442\u0438\u043a\u0443\u043c \u043f\u043e \u043b\u0430\u0437\u0435\u0440\u043d\u043e\u0439 \u0444\u0438\u0437\u0438\u043a\u0435 \n             \u0438 \u043a\u0432\u0430\u043d\u0442\u043e\u0432\u043e\u0439 \u043e\u043f\u0442\u0438\u043a\u0435", "shape": "dot"}, {"color": "#00cd00", "group": 4, "id": 72, "label": "\u041e\u0442\u043a\u0440\u044b\u0442\u044b\u0435 \u043a\u0432\u0430\u043d\u0442\u043e\u0432\u044b\u0435 \u0441\u0438\u0441\u0442\u0435\u043c\u044b", "shape": "dot"}, {"id": 44, "label": "\u041c\u043e\u0442\u0438\u0432\u0430\u0446\u0438\u043e\u043d\u043d\u044b\u0439 \u0441\u0435\u043c\u0438\u043d\u0430\u0440", "shape": "dot", "x": 900, "y": 900}, {"id": 48, "label": "\u0418\u0441\u0442\u043e\u0440\u0438\u044f", "shape": "dot", "x": 900, "y": 900}, {"id": 50, "label": "\u041a\u043e\u043c\u043f\u0435\u0442\u0435\u043d\u0446\u0438\u0438 WordSkills:\n\u041b\u0435\u0442\u0430\u044e\u0449\u0430\u044f \u0440\u043e\u0431\u043e\u0442\u043e\u0442\u0435\u0445\u043d\u0438\u043a\u0430 / \u0422\u0435\u0445\u043d\u043e\u043b\u043e\u0433\u0438\u0438 \u043a\u043e\u043c\u043f\u043e\u0437\u0438\u0442\u043e\u0432 /\n\u0410\u0434\u0434\u0438\u0442\u0438\u0432\u043d\u043e\u0435 \u043f\u0440\u043e\u0438\u0437\u0432\u043e\u0434\u0441\u0442\u0432\u043e ", "shape": "dot", "x": 900, "y": 900}, {"group": 3, "id": 51, "label": "Maple / Wolfram", "shape": "dot", "x": 900, "y": 900}, {"group": 3, "id": 52, "label": "\u0412\u0432\u0435\u0434\u0435\u043d\u0438\u0435 \u0432 \u0447\u0438\u0441\u043b\u0435\u043d\u043d\u044b\u0435 \u043c\u0435\u0442\u043e\u0434\u044b", "shape": "dot", "x": 900, "y": 900}, {"id": 54, "label": "\u0424\u0438\u043b\u043e\u0441\u043e\u0444\u0438\u044f ", "shape": "dot", "x": 900, "y": 900}, {"id": 55, "label": "\u041e\u0441\u043d\u043e\u0432\u044b \u0441\u043e\u0446\u0438\u043e\u043b\u043e\u0433\u0438\u0438 \u0438 \u043f\u0440\u0430\u0432\u0430 ", "shape": "dot", "x": 900, "y": 900}, {"id": 56, "label": "\u0410\u043d\u0430\u043b\u0438\u0437 \u043a\u043b\u0430\u0441\u0441\u0438\u0447\u0435\u0441\u043a\u0438\u0445 \u0444\u0438\u043b\u043e\u0441\u043e\u0444\u0441\u043a\u0438\u0445 \u0442\u0435\u043a\u0441\u0442\u043e\u0432 ", "shape": "dot", "x": 900, "y": 900}, {"id": 57, "label": "\u041b\u043e\u0433\u0438\u043a\u0430 \u0438 \u0442\u0435\u043e\u0440\u0438\u044f \u0430\u0440\u0433\u0443\u043c\u0435\u043d\u0442\u0430\u0446\u0438\u0438 ", "shape": "dot", "x": 900, "y": 900}, {"id": 58, "label": "\u041f\u0441\u0438\u0445\u043e\u043b\u043e\u0433\u0438\u044f \u043b\u0438\u0447\u043d\u043e\u0441\u0442\u0438 ", "shape": "dot", "x": 900, "y": 900}, {"id": 60, "label": "\u0424\u0438\u043b\u043e\u0441\u043e\u0444\u0441\u043a\u0438\u0435 \u043e\u0441\u043d\u043e\u0432\u0430\u043d\u0438\u044f \u0441\u043e\u0432\u0440\u0435\u043c\u0435\u043d\u043d\u043e\u0439 \u043d\u0430\u0443\u043a\u0438", "shape": "dot", "x": 900, "y": 900}, {"id": 61, "label": "\u0410\u043d\u0430\u043b\u0438\u0437 \u0445\u0443\u0434\u043e\u0436\u0435\u0441\u0442\u0432\u0435\u043d\u043d\u044b\u0445 \u0442\u0435\u043a\u0441\u0442\u043e\u0432 ", "shape": "dot", "x": 900, "y": 900}, {"id": 62, "label": "\u0418\u0441\u043a\u0443\u0441\u0441\u0442\u0432\u043e: \u0445\u0443\u0434\u043e\u0436\u0435\u0441\u0442\u0432\u0435\u043d\u043d\u044b\u0435 \u0441\u0442\u0438\u043b\u0438 \u0438 \u043e\u0431\u0440\u0430\u0437 \u0447\u0435\u043b\u043e\u0432\u0435\u043a\u0430", "shape": "dot", "x": 900, "y": 900}, {"id": 63, "label": "\u041f\u0440\u0438\u043d\u0446\u0438\u043f\u044b \u0432\u0435\u0434\u0435\u043d\u0438\u044f \u043d\u0430\u0443\u0447\u043d\u043e\u0439,\n\u0438\u043d\u043d\u043e\u0432\u0430\u0446\u0438\u043e\u043d\u043d\u043e\u0439 \u0438 \u0430\u043a\u0430\u0434\u0435\u043c\u0438\u0447\u0435\u0441\u043a\u043e\u0439 \u0434\u0435\u044f\u0442\u0435\u043b\u044c\u043d\u043e\u0441\u0442\u0438 ", "shape": "dot", "x": 900, "y": 900}, {"id": 80, "label": "\u0421\u043e\u0446\u0438\u0430\u043b\u044c\u043d\u043e-\u0433\u0443\u043c\u0430\u043d\u0438\u0442\u0430\u0440\u043d\u044b\u0439 \u043a\u0430\u0442\u0430\u043b\u043e\u0433/Soft skills ", "shape": "dot", "x": 900, "y": 900}]);
      edges = new vis.DataSet([{"from": 58, "to": 63}, {"from": 50, "to": 26}, {"from": 52, "to": 39}, {"from": 1, "to": 52}, {"from": 2, "to": 52}, {"from": 6, "to": 39}, {"from": 39, "to": 26}, {"from": 39, "to": 72}, {"from": 39, "to": 35}, {"from": 48, "to": 61}, {"from": 54, "to": 56}, {"from": 61, "to": 58}, {"from": 55, "to": 54}, {"from": 48, "to": 62}, {"from": 61, "to": 62}, {"from": 61, "to": 63}, {"from": 62, "to": 63}, {"from": 44, "to": 26}, {"from": 60, "to": 26}, {"from": 57, "to": 26}, {"from": 12, "to": 26}, {"from": 52, "to": 51}, {"from": 51, "to": 31}, {"from": 6, "to": 42}, {"from": 56, "to": 60}, {"from": 61, "to": 54}, {"from": 63, "to": 26}, {"from": 43, "to": 26}, {"from": 56, "to": 57}, {"from": 12, "to": 69}, {"from": 32, "to": 69}, {"from": 69, "to": 71}, {"from": 67, "to": 71}, {"from": 12, "to": 72}, {"from": 21, "to": 70}, {"from": 29, "to": 72}, {"from": 1, "to": 3}, {"from": 1, "to": 4}, {"from": 2, "to": 4}, {"from": 1, "to": 5}, {"from": 2, "to": 5}, {"from": 1, "to": 6}, {"from": 2, "to": 6}, {"from": 1, "to": 7}, {"from": 14, "to": 8}, {"from": 4, "to": 9}, {"from": 7, "to": 10}, {"from": 9, "to": 11}, {"from": 12, "to": 11}, {"from": 10, "to": 11}, {"from": 3, "to": 12}, {"from": 7, "to": 12}, {"from": 15, "to": 12}, {"from": 22, "to": 12}, {"from": 4, "to": 13}, {"from": 5, "to": 13}, {"from": 6, "to": 14}, {"from": 5, "to": 15}, {"from": 12, "to": 18}, {"from": 16, "to": 18}, {"from": 1, "to": 19}, {"from": 17, "to": 19}, {"from": 24, "to": 21}, {"from": 5, "to": 22}, {"from": 6, "to": 22}, {"from": 7, "to": 23}, {"from": 20, "to": 23}, {"from": 18, "to": 24}, {"from": 25, "to": 26}, {"from": 12, "to": 28}, {"from": 24, "to": 29}, {"from": 3, "to": 30}, {"from": 13, "to": 31}, {"from": 14, "to": 31}, {"from": 15, "to": 31}, {"from": 40, "to": 31}, {"from": 13, "to": 32}, {"from": 19, "to": 33}, {"from": 8, "to": 34}, {"from": 20, "to": 35}, {"from": 23, "to": 35}, {"from": 21, "to": 30}, {"from": 10, "to": 37}, {"from": 20, "to": 38}, {"from": 20, "to": 39}, {"from": 2, "to": 40}, {"from": 10, "to": 40}, {"from": 13, "to": 39}, {"from": 14, "to": 39}, {"from": 1, "to": 42}, {"from": 2, "to": 42}, {"from": 25, "to": 43}, {"from": 12, "to": 29}, {"from": 30, "to": 35}, {"from": 10, "to": 67}, {"from": 11, "to": 67}, {"from": 12, "to": 68}]);
      const options = {
        "nodes": {
          "font": {"size": 25, "strokeWidth": 4},
          "size": 25
        },
        "edges": {
          "arrows": {
            "to": {
              "enabled": true, "scaleFactor": 0.7, "imageWidth": 0.1
            }
          }
        },
        "physics": {
          "barnesHut": {
            "gravitationalConstant": -12000, "centralGravity": 1, "springConstant": 0.005, "springLength": 0.001, "damping": 1, "avoidOverlap": 0}, "minVelocity": 0.7
        }
      };

      options.groups = this.groupNetworOptionsMap;
      const network = new vis.Network(container, {nodes: nodes, edges: edges}, options);

      this.$once('hook:beforeDestroy', function () {
        network.destroy();
      })
    }
  }
}
</script>

<style scoped>

@import "vis-network/styles/vis-network.min.css";

.button {
  margin: 0 16px;
}

#graph {
  height: 100% ;
}

#legend {
  position: absolute;
  z-index: 2;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  background-color: #fff;
}
.legend-item {
  margin: 4px 8px;
  display: flex;
  align-items: center;
}
.legend-item-dot {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border-width: 1px;
  border-style: solid;
}
.legend-item-label {
  margin-left: 8px;
  font-size: 1rem;
  font-family: inherit;
  font-weight: 400;
}
#network {
  width: 100%;
  height: 100%;
}
</style>
