<template>
  <b-navbar sticky variant="light">
    <slot name="logo"><qe-chameleon class="logo" /></slot>
    <div v-if="$slots.title" class="title"><slot name="title"></slot></div>
    <slot></slot>
  </b-navbar>
</template>

<script>
import QeChameleon from "./icons/chameleon.vue"

export default {
  name: "qe-navbar",
  components: { QeChameleon}
}
</script>

<style scoped>
.logo {
  height: 40px;
  width: 40px;
}

.title {
  font-size: var(--font-L);
  height: 40px;
  margin: 0 16px;
}
</style>
