<template>
  <div>
    <qe-navbar>
      <template #title>Учебный план</template>
<!--      <router-link to="/graph" tag="div">
        <b-button class="qe-nav-button" variant="light">Взаимосвязь предметов</b-button>
      </router-link>-->

        <router-link :to="'/courses/' + yearLink" tag="div" v-for="yearLink of years" >
          <b-button class="qe-nav-button" variant="light">Набор {{ yearLink }}</b-button>
        </router-link>
    </qe-navbar>
    <div v-if="coursesLoadedError" class="qe-table-placeholder">
      <span>Курсы скоро появятся</span>
    </div>
    <div v-else id="qe-table-container">
      <div id="qe-table" v-for="table of tables()">
        <b-table striped bordered borderless fixed :items="table.items" :fields="fields">
          <template v-if="isWideScreen" #thead-top="data">
            <b-tr>
              <b-th class="text-center th-grey" variant="dark" colspan="4">{{ table.courseTitle }}</b-th>
            </b-tr>
            <b-tr>
              <b-th class="text-center th-green" colspan="2">{{table.title1}}</b-th>
              <b-th class="text-center th-green" colspan="2">{{table.title2}}</b-th>
            </b-tr>
          </template>
          <template v-else #thead-top="data">
            <b-tr>
              <b-th class="text-center th-grey" variant="dark" colspan="2">{{ table.courseTitle }} {{ table.title }}</b-th>
            </b-tr>
          </template>
          <template #head(h)="data">
            <div>{{ data.label }}</div>
            <div>(в неделю/в семестр)</div>
          </template>
          <template #head(h1)="data">
            <div>{{ data.label }}</div>
            <div>(в неделю/в семестр)</div>
          </template>
          <template #head(h2)="data">
            <div>{{ data.label }}</div>
            <div>(в неделю/в семестр)</div>
          </template>
          <template #cell(mat1)="data">
            <qe-table-cell :annotation="annotationsById(data.item.id1)" :primary-key="data.item.primaryKey1" :value="data.value"/>
          </template>
          <template #cell(mat2)="data">
            <qe-table-cell :annotation="annotationsById(data.item.id2)" :primary-key="data.item.primaryKey2" :value="data.value"/>
          </template>
          <template #cell(mat)="data">
            <qe-table-cell :annotation="annotationsById(data.item.id)" :primary-key="data.item.primaryKey" :value="data.value"/>
          </template>
        </b-table>
      </div>
    </div>
  </div>

</template>

<script>
import QeNavbar from "./navbar.vue";
import QeTableCell from "./table-cell.vue";
import { resolutionObserver } from "../mixins/resolutionObserver";
import { tablesProcessor } from "../mixins/tablesProcessor";
//import courses from '../../api/courses.json';
//import subjects from '../../api/subjects.json';

export default {
  name: "qe-table",
  components: {QeNavbar, QeTableCell},
  mixins: [resolutionObserver, tablesProcessor],
  props: {
    year: {
      type: String,
      default: "2022"
    }
  },

  computed: {
    isWideScreen() {
      return this.windowWidth > 800;
    },
    tables() {
      if (!this.coursesLoaded) {
        return () => [];
      }
      return this.isWideScreen ? this.prepareWideTables(this.rawCourses()) : this.prepareThinTables(this.rawCourses());
    },
    fields() {
      const wideFields = [
        {key: 'mat1', label: 'Предмет', class: 'text-center', thClass: 'vertical-align-middle'},
        {key: 'h1', label: 'Часы', class: 'text-center'},
        {key: 'mat2', label: 'Предмет', class: 'text-center', thClass: 'vertical-align-middle'},
        {key: 'h2', label: 'Часы', class: 'text-center'},
      ];
      const thinFields = [
        {key: 'mat', label: 'Предмет', class: 'text-center ', thClass: 'th-green' },
        {key: 'h', label: 'Часы', class: 'text-center', thClass: 'th-green vertical-align-middle'},
      ];

      return this.isWideScreen ? wideFields : thinFields;
    }
  },
  async created() {
    this.coursesLoaded = false;
    await this.loadCourses();
    await this.loadSubjects();
    this.coursesLoaded = true;
  },
  watch: {
    async year() {
      await this.loadCourses();
    }
  },
  data() {
    return {
      coursesLoaded: false,
      coursesLoadedError: false,
      rawCourses: () => [],
      subjectsMap: () => {},
      openedItemsMap: {},
      years: ["2022", "2023", "2024"]
    }
  },
  methods: {
    annotationsById(id) {
      const subject = this.subjectsMap()[id];

      return subject && subject.annotation;
    },
    async loadCourses() {
      let courses;
      try {
        courses = await (await fetch(`${import.meta.env.VITE_API_URL}/courses-${this.year}.json`)).json();
        this.coursesLoadedError = false;

      } catch (e) {
        this.coursesLoadedError = true;
        console.error(e);
      }
      this.rawCourses = () => courses;
    },
    async loadSubjects() {
      try {
        const subjects = await (await fetch(`${import.meta.env.VITE_API_URL}/subjects.json`)).json();
        const subjectsMap = {};
        subjects.forEach(subj => subjectsMap[subj.id] = subj);
        this.subjectsMap = () => subjectsMap;
      } catch (e) {
        console.log(e);
      }
    },
  }
}
</script>

<style>
#qe-table-container {
  width: 100%;
  padding-top: 16px;
}
#qe-table {
  margin: 0 auto 16px;
  max-width: 968px;
}

.qe-nav-button {
  margin: 0 8px;
}

.router-link-active .qe-nav-button {
  pointer-events: none;
  cursor: default;
  color: var(--green1);
}

#qe-table .vertical-align-middle {
  vertical-align: middle;
}

#qe-table .th-green {
  background-color: var(--green1);
}

#qe-table .th-grey {
  background-color: var(--grey1);
}

.qe-table-placeholder {
  height: calc(100vh - 56px);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-L);
  color: var(--grey2);
}

</style>
