<template>
  <div>
    <template v-if="annotation">
      <div v-b-toggle="primaryKey" class="annotations-toggle">
        <BIconChevronCompactDown class="annotations-expand-icon" />
        <span>{{ value }}</span>
      </div>
      <b-collapse :id="primaryKey" class="mt-2 wide-collapse">
        <b-card class="annotations-card">{{ annotation }}</b-card>
      </b-collapse>
    </template>
    <span v-else>{{ value }}</span>
  </div>
</template>

<script>
export default {
  name: "qe-table-cell",
  props: {
    value: String,
    annotation: String,
    primaryKey: String
  }
}
</script>

<style scoped>
.annotations-toggle {
  display: flex;
  align-items: center;
}

.annotations-expand-icon {
  margin-right: 8px;
  width: 22px;
  height: 22px;
  outline: none;
  transition: transform 0.3s ease-in-out;
}

.annotations-toggle.not-collapsed span {
  color: var(--green1);
}

.annotations-toggle.not-collapsed .annotations-expand-icon {
  transform: rotate(180deg);
}

.annotations-expand-icon:focus {
  outline: none;
}

.annotations-expand-icon:hover {
  cursor: pointer;
}

.annotations-card {
  text-align: left;
}

.wide-collapse {
  width: 200%;
}
</style>
