<template>
  <svg
      xmlns:dc="http://purl.org/dc/elements/1.1/"
      xmlns:cc="http://creativecommons.org/ns#"
      xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
      xmlns:svg="http://www.w3.org/2000/svg"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
      xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
      sodipodi:docname="Chameleon.svg"
      inkscape:version="1.0beta2 (2b71d25, 2019-12-03)"
      id="svg8"
      version="1.1"
      viewBox="0 0 173.04962 225.86133"
      height="225.86133mm"
      width="173.04962mm">
    <defs
        id="defs2" />
    <sodipodi:namedview
        fit-margin-bottom="0"
        fit-margin-right="0"
        fit-margin-left="0"
        fit-margin-top="0"
        inkscape:window-maximized="0"
        inkscape:window-y="25"
        inkscape:window-x="151"
        inkscape:window-height="754"
        inkscape:window-width="1440"
        showgrid="false"
        inkscape:document-rotation="0"
        inkscape:current-layer="layer1"
        inkscape:document-units="mm"
        inkscape:cy="434.23407"
        inkscape:cx="327.87124"
        inkscape:zoom="0.35"
        inkscape:pageshadow="2"
        inkscape:pageopacity="0.0"
        borderopacity="1.0"
        bordercolor="#666666"
        pagecolor="#ffffff"
        id="base" />
    <metadata
        id="metadata5">
      <rdf:RDF>
        <cc:Work
            rdf:about="">
          <dc:format>image/svg+xml</dc:format>
          <dc:type
              rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
          <dc:title></dc:title>
        </cc:Work>
      </rdf:RDF>
    </metadata>
    <g
        transform="translate(-19.084069,-33.27557)"
        id="layer1"
        inkscape:groupmode="layer"
        inkscape:label="Слой 1">
      <g
          style="fill:#8cc63f;fill-opacity:1"
          transform="matrix(1.5498576,0,0,1.5498576,-6.4255941,-28.841393)"
          id="g937">
        <path
            inkscape:connector-curvature="0"
            id="path945"
            d="m 59.664793,185.76509 c -1.969707,-0.23173 -3.481825,-0.50085 -5.028597,-0.89493 C 43.279286,181.9766 32.327755,173.35587 25.39019,161.84854 17.414413,148.61911 14.705451,131.8355 17.567085,113.37978 c 1.958898,-12.63364 6.880478,-23.618213 14.903966,-33.264455 1.77915,-2.138983 6.3635,-6.697495 8.643102,-8.594391 7.965019,-6.627814 17.167582,-11.702043 27.396124,-15.106027 l 2.847519,-0.947635 -0.02085,-0.5201 c -0.01151,-0.286056 -0.05826,-1.883275 -0.103976,-3.549376 -0.0759,-2.76596 -0.06183,-3.131586 0.161751,-4.206296 0.370674,-1.781758 0.938251,-2.85759 2.130113,-4.037625 1.111151,-1.100135 2.542071,-1.921764 4.571395,-2.624883 1.127072,-0.390506 1.159182,-0.394211 3.439936,-0.396849 2.67365,-0.0031 3.820546,0.152825 7.190227,0.977504 4.087292,1.000302 8.04744,2.450565 12.239368,4.482245 2.91697,1.413739 4.06316,2.059964 6.44041,3.6311 2.50264,1.654002 4.10852,2.968487 5.95176,4.871755 4.21215,4.349322 8.55375,11.570266 12.44543,20.699232 2.71255,6.362981 2.72676,6.447376 1.5772,9.365441 -0.41023,1.041307 -0.90252,2.123473 -1.09399,2.404808 -0.50128,0.736562 -1.19737,1.15791 -2.64348,1.600112 -6.13528,1.876102 -10.09118,4.315336 -11.43893,7.053304 -1.42762,2.900216 -0.88819,6.842196 1.60748,11.746936 0.98435,1.93457 1.93833,3.4944 3.97483,6.49914 2.62775,3.87708 3.02858,4.90152 2.92195,7.46777 -0.0458,1.10205 -0.12719,1.56068 -0.44124,2.4861 -1.30202,3.83663 -4.62321,6.63443 -8.72677,7.35151 -2.36571,0.41341 -4.43072,0.0116 -6.73941,-1.31129 -1.05208,-0.60286 -2.01721,-1.29481 -4.43435,-3.17926 -4.205253,-3.27847 -6.927687,-4.96695 -10.427639,-6.46734 -1.834371,-0.78636 -4.76757,-1.76312 -5.992464,-1.99548 -6.053413,-1.14831 -12.769268,1.26009 -19.34557,6.93758 -3.796203,3.27736 -7.452247,8.20084 -9.059702,12.20044 -0.324944,0.8085 -0.674777,1.44913 -0.981885,1.79801 -1.68046,1.90911 -4.731013,1.50282 -5.898435,-0.78558 -0.753163,-1.47636 -0.528997,-2.62403 1.177237,-6.02709 1.928218,-3.84581 4.385033,-7.18329 7.825575,-10.63072 6.886161,-6.89993 14.705799,-10.75226 22.418346,-11.04434 3.131507,-0.1186 5.365792,0.23637 8.906069,1.41491 5.92456,1.97228 9.818693,4.1478 15.944288,8.9075 2.40098,1.86561 3.79203,2.80163 4.41149,2.96844 1.28789,0.34679 3.17823,-0.67385 3.86126,-2.08479 0.48025,-0.99207 0.44357,-1.08706 -1.57173,-4.07014 -3.60098,-5.33024 -5.41702,-8.82097 -6.5688,-12.62632 -1.09858,-3.62957 -1.23038,-7.408751 -0.36347,-10.420711 1.06925,-3.714922 4.05718,-7.225997 8.13539,-9.559775 1.90557,-1.090466 5.1044,-2.496183 7.08151,-3.11195 0.6073,-0.189136 0.68825,-0.249746 0.6244,-0.46749 -0.17862,-0.609042 -2.30202,-5.549099 -3.1985,-7.441227 -3.93656,-8.308626 -7.82375,-13.903508 -11.74925,-16.910825 -4.7353,-3.627717 -11.680441,-6.905095 -18.121225,-8.551305 -2.601457,-0.664912 -4.033238,-0.891707 -5.695038,-0.902101 -1.428073,-0.0089 -1.469162,-0.0015 -2.299414,0.415005 -0.733896,0.368178 -0.859575,0.480019 -0.953143,0.848197 -0.158601,0.624016 -0.01772,4.160665 0.287636,7.220493 0.302394,3.030321 0.252665,3.488875 -0.487387,4.494077 -0.613561,0.833398 -1.245807,1.161383 -3.205385,1.662827 -9.018492,2.307779 -18.843171,7.066656 -26.543164,12.856963 -4.620287,3.474409 -9.31446,8.137045 -12.564181,12.479778 -6.182852,8.262384 -9.911307,17.538684 -11.420786,28.414604 -0.543034,3.91261 -0.688028,5.85952 -0.758102,10.17954 -0.09044,5.57528 0.17932,9.27761 1.006387,13.81232 2.89583,15.87747 12.203241,29.09211 24.988039,35.47797 5.341969,2.66826 9.672609,3.59103 14.964256,3.18857 4.573491,-0.34785 8.082979,-1.2359 11.532548,-2.91825 6.36034,-3.1019 10.328751,-8.01712 11.703327,-14.49556 0.32801,-1.54593 0.432883,-3.75857 0.23598,-4.97911 -0.605455,-3.75325 -2.962013,-6.96079 -6.563118,-8.9332 -3.043889,-1.66721 -7.610158,-2.21011 -11.232517,-1.33548 -1.325756,0.32011 -3.113586,1.25383 -4.056745,2.11871 -2.206015,2.02293 -3.331597,4.99733 -2.993057,7.90931 0.339327,2.9188 1.275979,5.26093 2.654021,6.63647 1.024343,1.02249 1.763789,1.32697 3.434459,1.41423 3.235011,0.16893 4.909207,-1.06683 5.326787,-3.93185 0.126999,-0.87131 0.118396,-1.00367 -0.09341,-1.43762 -0.286267,-0.58649 -0.903403,-0.94073 -1.345847,-0.77251 -0.461492,0.17546 -1.753829,0.13295 -2.373098,-0.0781 -0.308077,-0.10497 -0.805472,-0.40681 -1.105322,-0.67075 -1.934289,-1.70262 -1.518842,-4.8083 0.802056,-5.99588 3.122783,-1.59791 7.767825,-0.0749 10.013996,3.28343 1.105904,1.65345 1.545973,3.37003 1.428849,5.57338 -0.163557,3.07668 -1.255683,5.75653 -3.17931,7.80135 -1.476638,1.56968 -3.057871,2.49542 -5.362011,3.13922 -1.101214,0.30767 -1.323563,0.32747 -3.656517,0.32558 -2.877314,-0.002 -3.698284,-0.16061 -5.677043,-1.09453 -1.474833,-0.69608 -2.406832,-1.37206 -3.568075,-2.58796 -2.518551,-2.6371 -4.087001,-6.3983 -4.577247,-10.97645 -0.631277,-5.89509 2.273689,-12.12425 7.15796,-15.34886 2.976953,-1.96541 5.935865,-2.83936 10.057194,-2.97052 4.262275,-0.13567 7.828095,0.59798 11.292459,2.32334 7.233958,3.60272 11.580302,11.01663 10.993616,18.75268 -0.486574,6.41585 -3.231534,12.39591 -7.805933,17.0057 -1.683478,1.6965 -2.819795,2.6235 -4.843012,3.95083 -4.220629,2.76897 -9.613405,4.65758 -15.336797,5.37113 -1.426255,0.17782 -7.053982,0.33817 -7.992658,0.22773 z"
            style="fill:#8cc63f;fill-opacity:1;stroke-width:0.121171" />
        <path
            inkscape:connector-curvature="0"
            id="path943"
            d="m 59.46228,185.71374 c -9.207955,-0.89727 -19.175979,-6.25965 -26.974683,-14.51121 -8.589379,-9.08817 -14.000087,-21.29728 -15.531135,-35.04561 -0.327299,-2.93904 -0.427556,-4.97091 -0.428056,-8.67522 -0.0022,-16.07739 3.706356,-29.551195 11.319537,-41.126068 8.081705,-12.28721 20.528001,-22.042252 36.057836,-28.261081 2.159194,-0.864636 6.981377,-2.516355 7.346489,-2.516355 0.176946,0 0.191462,-0.112749 0.120832,-0.939076 -0.184313,-2.156697 -0.227668,-5.561122 -0.08447,-6.634113 0.370419,-2.775784 1.639019,-4.812145 3.799995,-6.099808 0.937258,-0.558489 2.74565,-1.323902 3.641662,-1.541364 5.838831,-1.417069 19.522685,2.791457 28.563113,8.7847 4.20621,2.788453 6.75199,5.250568 9.69685,9.378173 3.47771,4.874438 6.86283,11.368515 10.02171,19.225782 1.02606,2.552201 1.04742,2.626128 1.05061,3.635131 0.003,0.987677 -0.0283,1.108266 -0.76682,2.937827 -0.42354,1.049341 -0.92562,2.122601 -1.11572,2.385033 -0.47449,0.655015 -1.13671,1.010603 -2.83987,1.524925 -6.88237,2.078338 -10.91584,5.019691 -11.7531,8.570789 -0.58326,2.473755 0.12039,5.892005 2.00177,9.724415 1.1684,2.38006 2.24808,4.14446 4.96791,8.11845 1.22652,1.7921 1.7345,2.85152 2.00325,4.17782 0.85723,4.2306 -1.63031,8.79755 -5.94414,10.91304 -1.60987,0.78946 -3.00069,1.11974 -4.72567,1.1222 -2.94895,0.004 -4.6646,-0.81929 -9.39076,-4.50734 -5.217306,-4.07134 -8.897997,-6.14345 -13.812342,-7.77589 -2.661158,-0.88396 -3.465576,-1.02279 -5.877945,-1.01433 -1.64566,0.006 -2.308211,0.0607 -3.29464,0.27336 -3.896436,0.83986 -7.975197,2.88213 -11.66998,5.84322 -1.657038,1.328 -4.392631,4.06898 -5.739483,5.75079 -2.026682,2.53073 -3.86441,5.59764 -4.755732,7.9367 -0.619172,1.62485 -1.697848,2.43932 -3.340734,2.52243 -0.793221,0.0401 -1.026669,0.003 -1.575223,-0.24893 -1.357406,-0.62398 -2.039296,-1.60114 -2.130465,-3.05297 -0.06687,-1.06496 0.153051,-1.76635 1.294361,-4.12796 5.129751,-10.61452 16.075467,-19.62912 26.324669,-21.68028 5.135918,-1.02783 9.288388,-0.58887 15.005006,1.58623 4.796797,1.82512 8.59128,4.04479 13.792478,8.06828 2.99114,2.31384 3.3417,2.55994 4.21801,2.96113 0.54152,0.24791 0.78494,0.29416 1.22834,0.2334 1.67857,-0.23008 3.29898,-1.74693 3.29898,-3.08816 0,-0.39981 -0.16142,-0.71406 -0.98282,-1.91326 -4.92701,-7.19332 -6.94318,-11.2536 -7.94246,-15.99511 -0.28559,-1.35514 -0.32886,-1.84429 -0.33584,-3.797184 -0.006,-1.744148 0.041,-2.464764 0.21293,-3.24691 1.05493,-4.799717 4.05881,-8.439961 9.29053,-11.258726 1.40658,-0.757828 4.13161,-1.924559 5.72534,-2.451326 0.64977,-0.214763 1.18141,-0.433828 1.18141,-0.486804 0,-0.147344 -1.69091,-4.228953 -2.48683,-6.002824 -0.38873,-0.866373 -1.28892,-2.72029 -2.00041,-4.119815 -3.81353,-7.501213 -7.11693,-11.90752 -11.19967,-14.938879 -6.088756,-4.5208 -16.817601,-8.723568 -22.845471,-8.949173 -1.506374,-0.05638 -1.519582,-0.0545 -2.420258,0.344686 -0.586286,0.259847 -0.962728,0.507897 -1.067589,0.703467 -0.228917,0.426961 -0.116409,4.592375 0.205615,7.612097 0.267642,2.509872 0.239652,2.974327 -0.235399,3.905498 -0.308805,0.605323 -0.928703,1.223029 -1.498898,1.493603 -0.247055,0.117237 -1.174729,0.395892 -2.061494,0.619232 -7.148181,1.800338 -15.904326,5.729926 -22.669461,10.173611 -8.22956,5.4056 -15.104474,12.451743 -19.806565,20.299868 -4.115789,6.869548 -6.803245,14.758069 -7.993183,23.462489 -1.960942,14.34432 -0.328903,27.14825 4.832088,37.90945 2.486496,5.18461 5.620984,9.57561 9.708511,13.60036 6.291174,6.19454 13.742464,10.12334 20.771752,10.95218 1.494935,0.17628 5.360848,0.0733 7.330846,-0.19523 5.043489,-0.68752 9.729269,-2.51946 13.265681,-5.18628 1.3406,-1.01096 3.35445,-3.07868 4.335342,-4.45133 2.880465,-4.03089 4.278136,-9.71548 3.313918,-13.47832 -1.582445,-6.17544 -7.305813,-10.00814 -14.553463,-9.74585 -2.179309,0.0789 -3.683853,0.4218 -5.264577,1.19997 -1.475173,0.72619 -2.997081,2.25154 -3.792956,3.80148 -0.84535,1.64631 -1.117318,2.72634 -1.111659,4.41448 0.01294,3.86401 1.703797,7.48695 4.028282,8.63129 0.796372,0.39205 0.821624,0.39595 2.563821,0.39595 1.674086,0 1.794821,-0.0165 2.48655,-0.33977 0.399864,-0.18688 0.90911,-0.51405 1.131652,-0.72703 1.107588,-1.06003 1.73111,-3.81439 1.037091,-4.58128 -0.418622,-0.46257 -0.812488,-0.59587 -1.334602,-0.45168 -1.337401,0.36936 -2.978759,-0.18528 -3.822509,-1.29167 -0.575756,-0.75499 -0.753393,-1.41486 -0.681684,-2.53233 0.126527,-1.97149 1.498873,-3.15905 4.032899,-3.48988 2.306902,-0.30117 4.903839,0.65801 6.791005,2.50825 1.966896,1.92843 2.843871,4.54492 2.501466,7.46328 -0.583232,4.97107 -3.182399,8.50383 -7.353323,9.99458 -2.709445,0.96839 -6.287891,1.05181 -8.961408,0.20891 -5.413788,-1.70686 -8.981996,-7.06833 -9.642438,-14.48839 -0.431563,-4.84873 1.496801,-9.90563 5.084372,-13.33319 3.202913,-3.06004 7.694274,-4.678 13.009526,-4.68654 8.662091,-0.0139 16.200528,4.47309 19.588687,11.65949 0.708148,1.50203 1.02461,2.41354 1.420173,4.09064 0.415265,1.76063 0.518769,4.80064 0.231049,6.78558 -1.08459,7.48217 -4.789939,13.81056 -10.682315,18.24436 -4.82766,3.63263 -10.683103,5.87448 -17.378238,6.65351 -1.975463,0.22986 -6.424027,0.33184 -7.957458,0.18241 z"
            style="fill:#8cc63f;fill-opacity:1;stroke-width:0.121171" />
        <path
            inkscape:connector-curvature="0"
            id="path941"
            d="m 60.210063,185.76619 c -3.960039,-0.39565 -6.698855,-1.05095 -10.178365,-2.43529 -11.06319,-4.40154 -20.714118,-13.49548 -26.591465,-25.0568 -3.519271,-6.92275 -5.677316,-14.51394 -6.61478,-23.26831 -0.26417,-2.46691 -0.37332,-9.89319 -0.187258,-12.74033 0.549289,-8.4052 1.960918,-15.62827 4.330003,-22.15589 C 25.195771,88.461196 32.404258,78.525913 42.519095,70.406464 50.106739,64.31566 59.638087,59.265565 69.397552,56.16517 l 2.038387,-0.64756 -0.09965,-1.454052 c -0.05482,-0.799729 -0.0972,-2.544591 -0.09419,-3.877472 0.0063,-2.773542 0.195643,-3.78501 0.997758,-5.329171 1.025349,-1.973893 3.527616,-3.69731 6.509368,-4.483277 5.591775,-1.473947 19.379328,2.762164 28.475195,8.748761 2.48555,1.635913 3.87043,2.747839 5.69806,4.575032 4.43931,4.438216 8.76468,11.537887 12.82538,21.051581 1.665,3.900859 2.29713,5.65533 2.35292,6.530512 0.0483,0.757137 0.007,0.911994 -0.75623,2.847519 -0.88451,2.242645 -1.19345,2.780063 -1.86618,3.246268 -0.24614,0.170572 -1.38409,0.612144 -2.52879,0.981291 -6.60955,2.131423 -10.014,4.507223 -11.19989,7.815882 -0.2526,0.704743 -0.28155,0.991591 -0.2752,2.726348 0.006,1.710908 0.045,2.076408 0.32928,3.110318 0.91706,3.33485 2.50272,6.36595 6.20135,11.8543 1.93202,2.86692 2.34357,3.69747 2.62071,5.28891 0.33265,1.9102 -0.17038,4.3462 -1.29739,6.28292 -0.79191,1.36086 -2.6581,3.19224 -4.04615,3.97067 -1.97413,1.1071 -4.59889,1.69112 -6.44583,1.43423 -2.53699,-0.35289 -4.04031,-1.15556 -8.15528,-4.35437 -3.868072,-3.00688 -5.852562,-4.31709 -8.689091,-5.73677 -2.654929,-1.32877 -5.906638,-2.51926 -8.274853,-3.02953 -1.109005,-0.23896 -4.595653,-0.20404 -5.937379,0.0594 -5.302941,1.04142 -10.724374,4.23585 -15.388719,9.06741 -3.121462,3.23336 -5.558248,6.85911 -7.074594,10.52649 -0.470168,1.13713 -0.900882,1.66601 -1.719671,2.11166 -1.879059,1.02272 -4.338904,0.14149 -5.071625,-1.81689 -0.505634,-1.35143 -0.282461,-2.39276 1.141383,-5.3256 3.374746,-6.9513 9.639469,-13.65144 16.583973,-17.7366 6.416999,-3.77485 13.164031,-5.13158 19.281532,-3.87722 2.442286,0.50079 6.862653,2.10846 9.684799,3.52236 2.768624,1.38707 5.778535,3.31881 8.675275,5.56776 3.17385,2.46408 3.92101,3.00464 4.76898,3.45023 0.74256,0.3902 0.9098,0.43281 1.47115,0.37488 1.18161,-0.12194 2.37454,-0.90428 2.97486,-1.95094 0.65537,-1.14264 0.62106,-1.24306 -1.50268,-4.39862 -2.70481,-4.01896 -3.98014,-6.22709 -5.2005,-9.0043 -2.39465,-5.44949 -2.88539,-10.347551 -1.45682,-14.540516 1.1427,-3.353965 3.59987,-6.265899 7.14015,-8.461651 1.91707,-1.189002 5.47307,-2.80695 7.89031,-3.590018 0.34989,-0.113343 0.63615,-0.259875 0.63615,-0.325635 0,-0.06576 -0.3489,-0.9747 -0.77532,-2.019872 -2.82569,-6.925701 -6.26846,-13.343055 -9.3727,-17.4708 -2.41861,-3.216043 -4.67503,-5.208121 -8.588,-7.581887 -1.63215,-0.990128 -5.914975,-3.101985 -7.861018,-3.876256 -4.694128,-1.867651 -9.593278,-3.082378 -12.431637,-3.082378 -0.988949,0 -1.180823,0.03974 -1.984381,0.411007 -0.489264,0.226054 -0.949169,0.522368 -1.022017,0.658475 -0.215696,0.403034 -0.154263,3.62434 0.124152,6.510008 0.329064,3.410596 0.328482,3.972417 -0.0048,4.727665 -0.305702,0.692705 -0.977256,1.432404 -1.584638,1.745467 -0.233254,0.120226 -1.296154,0.445486 -2.361987,0.722801 -6.344623,1.65077 -13.685163,4.788864 -19.812308,8.469793 -14.874542,8.935999 -24.778916,21.768021 -28.834723,37.358017 -2.357443,9.0617 -3.009583,20.38564 -1.69443,29.42256 2.011686,13.82307 8.356956,25.46623 18.142301,33.28997 3.928158,3.14069 8.796991,5.74653 12.974555,6.9441 2.78863,0.7994 3.653294,0.90868 7.106656,0.89813 3.377666,-0.0103 5.199715,-0.20371 7.876116,-0.836 10.177759,-2.40447 16.926536,-9.46605 17.865163,-18.6932 0.210547,-2.0697 -0.119244,-3.97784 -1.023507,-5.92194 -1.301425,-2.79797 -3.298178,-4.79457 -6.178607,-6.17814 -2.194129,-1.05391 -4.264808,-1.49975 -6.967333,-1.50017 -5.416005,-0.001 -8.892571,2.18787 -10.381097,6.53541 -0.491893,1.43673 -0.612459,2.66259 -0.411751,4.18703 0.495662,3.76483 1.920343,6.38819 4.007271,7.37889 0.721149,0.34234 0.912684,0.37759 2.269969,0.41768 1.243506,0.0367 1.617112,0.003 2.318608,-0.21024 1.796154,-0.54556 2.924026,-2.27596 2.924026,-4.4861 0,-0.9724 -0.835995,-1.74028 -1.603408,-1.47276 -0.204318,0.0712 -0.662672,0.12951 -1.018551,0.12951 -1.968435,0 -3.557763,-1.56877 -3.557763,-3.51173 0,-1.15105 0.284558,-1.87856 1.021023,-2.61046 1.628854,-1.61871 4.686701,-1.79023 7.521533,-0.42187 3.535661,1.70663 5.384537,5.46052 4.744936,9.63392 -0.784219,5.11701 -3.779893,8.58427 -8.501237,9.83952 -1.102862,0.29321 -1.418525,0.32275 -3.513959,0.32883 -2.559035,0.007 -3.53657,-0.15932 -5.343327,-0.91148 -4.718847,-1.96446 -7.940033,-7.30498 -8.534341,-14.14938 -0.570703,-6.5726 3.248038,-13.26452 9.174148,-16.0767 6.427141,-3.04995 15.400594,-2.29171 21.546157,1.82059 4.409001,2.9503 7.347253,7.25274 8.443039,12.36304 0.309519,1.44352 0.422026,4.38102 0.227983,5.95239 -1.40413,11.37 -8.954586,20.07604 -20.666819,23.8298 -3.68412,1.18076 -7.322352,1.75155 -11.693003,1.83448 -1.366203,0.0259 -2.702113,0.0254 -2.968689,-10e-4 z"
            style="fill:#8cc63f;fill-opacity:1;stroke-width:0.121171" />
        <path
            inkscape:connector-curvature="0"
            id="path939"
            d="M 60.149477,185.70957 C 52.827901,185.26745 44.35858,181.5375 37.229916,175.61563 29.268272,169.0018 23.296461,160.04029 19.857731,149.54631 c -1.546255,-4.7187 -2.56769,-9.85288 -3.109764,-15.63106 -0.207892,-2.216 -0.21041,-10.64294 -0.0039,-13.02588 0.492644,-5.68442 1.170656,-9.93807 2.288727,-14.35876 3.542458,-14.006404 11.261343,-26.062702 22.700657,-35.456696 7.691354,-6.316158 17.006327,-11.377695 27.079746,-14.714508 2.238198,-0.741401 2.6618,-0.918595 2.641068,-1.104756 -0.01358,-0.121948 -0.09231,-1.375547 -0.174935,-2.785774 -0.175371,-2.993351 -0.0498,-4.762333 0.450478,-6.346015 0.392048,-1.241046 1.330675,-2.640818 2.299038,-3.428577 0.898022,-0.730529 3.354498,-1.944559 4.549511,-2.248443 2.503684,-0.636665 5.940784,-0.362433 10.712741,0.854724 6.717018,1.71327 14.532922,5.298511 19.609722,8.995186 3.05941,2.227705 4.96687,4.117853 7.35804,7.291215 3.64357,4.835476 7.29455,11.699326 10.62803,19.980763 1.114,2.767521 1.17198,2.95593 1.17537,3.819892 0.003,0.821624 -0.0593,1.065662 -0.65197,2.544591 -0.85381,2.13055 -1.05081,2.523653 -1.50832,3.009597 -0.5103,0.542034 -1.02961,0.793355 -2.6614,1.287975 -1.86369,0.564911 -3.882,1.356219 -5.4137,2.122516 -5.73187,2.867621 -7.45217,6.233195 -5.99615,11.73084 0.85918,3.24406 2.48994,6.37963 6.06269,11.65714 1.7854,2.63731 2.08759,3.18082 2.49444,4.48638 0.38962,1.25032 0.38989,3.26682 0.001,4.65177 -0.53065,1.88787 -1.38178,3.28487 -2.92226,4.79652 -2.25177,2.20961 -4.91109,3.24181 -8.04591,3.123 -2.79996,-0.10612 -4.24353,-0.84615 -9.28439,-4.75949 -5.194422,-4.03256 -8.744999,-5.9926 -13.809693,-7.62344 -2.364737,-0.76145 -3.728553,-0.96405 -5.985884,-0.88924 -3.910746,0.12961 -7.824946,1.51562 -11.83006,4.18902 -2.330409,1.55553 -3.431381,2.46771 -5.647502,4.67903 -3.479886,3.47235 -5.850597,6.8601 -7.364556,10.52394 -0.590345,1.42863 -0.823127,1.77775 -1.533892,2.30046 -2.220773,1.63317 -5.408165,0.17135 -5.659037,-2.59537 -0.0864,-0.95275 0.249891,-1.95562 1.497068,-4.46459 2.073732,-4.17177 4.761233,-7.78098 8.481268,-11.39007 8.42771,-8.17637 18.310212,-11.81101 27.20912,-10.00713 3.617161,0.73322 8.735909,2.7927 12.486964,5.02402 2.416154,1.43723 3.246004,2.02746 8.457094,6.01494 2.47808,1.89621 3.23758,2.15762 4.68994,1.61423 0.96483,-0.36099 2.00339,-1.39768 2.25753,-2.25347 0.23367,-0.78682 0.18075,-0.98364 -0.56154,-2.08899 -0.33566,-0.49983 -1.12553,-1.67216 -1.75528,-2.60517 -1.6611,-2.46106 -2.82187,-4.44854 -3.96303,-6.78558 -2.08811,-4.27632 -2.88378,-7.25262 -2.89921,-10.844804 -0.009,-2.077222 0.13683,-3.123352 0.66691,-4.786255 1.69993,-5.332869 6.3287,-9.239423 14.22188,-12.002885 0.79688,-0.278984 1.47009,-0.570921 1.49603,-0.648737 0.10711,-0.321334 -2.30982,-5.902798 -4.14982,-9.583258 -3.49507,-6.990998 -6.72805,-11.608293 -10.1017,-14.427134 -6.16362,-5.149974 -18.730873,-10.22493 -24.835057,-10.028988 -1.176776,0.03777 -1.377108,0.07929 -2.110775,0.437456 -0.513632,0.250748 -0.845264,0.494614 -0.90522,0.665656 -0.15167,0.432666 -0.07103,3.982748 0.136875,6.025555 0.339824,3.338909 0.365149,4.244665 0.137832,4.929051 -0.24485,0.737188 -0.882961,1.512536 -1.56805,1.905299 -0.277639,0.159172 -1.213649,0.464074 -2.080022,0.677558 -2.051013,0.505392 -5.548408,1.645108 -8.048554,2.622828 -14.106717,5.51664 -25.608718,14.360638 -32.936594,25.325258 -6.984987,10.45154 -10.378208,22.66104 -10.38402,37.36378 -9.7e-4,2.34203 0.06456,4.8025 0.154801,5.81621 1.029957,11.56998 4.461473,21.09121 10.505731,29.14964 6.166198,8.221 15.032802,14.21867 23.579575,15.94999 1.239022,0.251 1.704282,0.27854 4.648447,0.27516 3.508107,-0.004 4.658347,-0.11691 7.421567,-0.72828 8.347035,-1.84679 14.570681,-6.8087 17.175858,-13.69376 0.496959,-1.31339 1.020987,-3.61437 1.171348,-5.14332 0.550177,-5.59455 -3.095011,-10.84318 -8.871693,-12.77418 -1.949084,-0.65152 -3.38959,-0.83758 -5.92336,-0.76506 -2.403912,0.0688 -3.430558,0.27626 -4.964995,1.00327 -2.011257,0.95292 -3.363453,2.27953 -4.317444,4.23575 -1.179152,2.41792 -1.321988,4.79355 -0.469114,7.80196 0.6887,2.42931 1.977523,4.3083 3.442917,5.01949 1.472216,0.71449 3.913242,0.69391 5.422803,-0.0457 1.269993,-0.62228 2.042046,-1.93817 2.178146,-3.71249 0.08112,-1.0577 -0.07705,-1.50957 -0.653051,-1.86556 -0.366906,-0.22676 -0.476821,-0.24094 -0.948176,-0.12225 -1.345374,0.33877 -2.47905,0.0272 -3.466024,-0.95267 -0.857576,-0.85138 -1.137044,-1.59529 -1.051013,-2.79767 0.150834,-2.10806 1.742342,-3.36136 4.418319,-3.47936 2.760797,-0.12176 5.317614,1.0559 7.091643,3.26639 1.681066,2.09465 2.218411,4.89518 1.553243,8.09527 -0.99771,4.79996 -4.107383,7.9612 -8.907269,9.05498 -1.085487,0.24736 -4.642256,0.28069 -5.699206,0.0534 -4.883895,-1.0502 -8.282815,-4.34871 -10.054638,-9.75762 -0.655777,-2.00191 -0.93172,-3.62918 -0.999273,-5.89305 -0.06816,-2.28389 0.08649,-3.47132 0.705785,-5.41921 1.892085,-5.95124 6.477681,-10.03213 12.697038,-11.29956 6.384379,-1.30105 13.345715,0.19792 18.297768,3.94001 5.601154,4.23261 8.500655,11.05684 7.593315,17.87153 -0.560707,4.21123 -2.10531,8.37354 -4.352063,11.7277 -3.925917,5.861 -10.086287,10.12897 -17.58704,12.18449 -3.02461,0.82887 -5.552152,1.22377 -9.02724,1.41044 -2.309241,0.12404 -2.175468,0.12428 -4.362157,-0.008 z"
            style="fill:#8cc63f;fill-opacity:1;stroke-width:0.121171" />
      </g>
      <path
          inkscape:connector-curvature="0"
          id="path935"
          d=""
          style="fill:#000000;stroke-width:0.121171" />
    </g>
  </svg>
</template>

<script>
export default {
  name: "qe-chameleon"
}
</script>

<style scoped>

</style>
