<template>
  <div id="app">
    <header>
    </header>
      <keep-alive>
        <router-view></router-view>
      </keep-alive>
  </div>
</template>


<style>
@import './assets/base.css';

#app {
  margin: 0 auto;
  padding: 0;
  height: 100vh;
  font-weight: normal;
}

</style>
